<iframe src="https://www.google.com/maps/d/embed?mid=14MMnFLb7SHwpuvOmyK5XdMYQR-xVoDHB&hl=de&ehbc=2E312F" width="530" height="480"></iframe>

<!--
{{if eq .Site.Title "P1.md"}}
<iframe src="https://www.google.com/maps/d/u/0/embed?mid=1qpEfIYybGe9kOjeMXJkiqK74IHXfIVl2&ehbc=2E312F" width="540" height="380"></iframe>
{{end}}

{{if eq .Site.Title "P2.md"}}
<iframe src="https://www.google.com/maps/d/u/0/embed?mid=1bWKq65aYiLSQczhwQR9aBqOJCD5qr-RZ&ehbc=2E312F" width="640" height="480"></iframe>
{{end}}
-->
